@import "bootstrap";

$lemon: #FFFACD;
$dimgray: #696969;
$whitesmoke: #F5F5F5;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: auto;
  background-color: $lemon;
  width:1200px;
}
body {
  padding-top: 0;
  margin-right: 100px;
  margin-left: 100px;
  background-color: $lemon;
  overflow-y: auto;
  overflow-x: auto;

}

.right {
  margin-left: 40px;

}
.tlo {
  background-color: $lemon;
}


.span9 {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-right: 0px;
  .span3 {
     padding-top: 0;
     border-right: 1px solid #778899;
     padding-right: 15px;
     padding-left: 15px;
     background-color: $whitesmoke;


  }
   background-color: $whitesmoke;
   border: 0px solid #FFE4C4;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 5px 5px 20px #888888;
}
.span3 {

  .bord {
    .nav-list {
  background-color: $whitesmoke;
  padding: 14px 14px 25px 14px;
  border: 0px solid #FFE4C4;
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #888888;
  }

  .nav-list > li > a {
  text-shadow: 0 1px 0 gray;

  }
  .nav > li > a:hover {
  text-decoration: none;
  background-color: #F4A460;
  }

}
  padding-top: 60px;
  background-color: $lemon;


 }


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.center h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 2px;
  padding-top: 10px;
  text-align: center;
  font-weight: normal;
  color: #999;

}


.center ul{
  list-style: none;
}

.center ul li{
}
/*--------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  font-color: green;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: right;
  font-weight: normal;
  color: #999;
}

h6 {
 font-size: 1em;
  letter-spacing: 0px;
  text-align: right;
}

p {
  font-size: 1.3em;
  line-height: 2em;
}

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid #808080;
  color: #191970
}

footer a {
  color: #191970
}

footer a:hover {
  color: #0000FF;
  text-decoration: underline;
}

footer small {
  float: right;
  margin-right: 20px;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: right;
  margin-right: 10px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 10px;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

section {
	width: 100%;
  overflow: auto;
  padding: 10px 10px;

  ul {
    list-style: none;
    li {
      padding-bottom: 5px;
    }
  }
  h2 {
    text-align: left;
  }
}

textarea {
  resize: vertical;

}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .users {
   list-style: none;
   li {
    overflow: auto;
    padding: 10px 0 10px 0;
    border-top: 1px dashed gray;
    &:last-child {
      border-bottom: 1px dashed gray;
    }
  }
 }

 /* komentarze wysw w profilu*/

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid gray;
  }
}
.content {
  display: block;
}
.timestamp {
  color: gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {

  }

/* Landscape phones and down */
  @media (max-width: 480px) {
  html {
    background-color: $lemon;
  width:320px;
}
body {
  padding-top: 0;
  margin-right: 0px;
  margin-left: 0px;
  background-color: $lemon;


}

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {  }

