ý!-<footer class="footer">
  <small>
    Pierwsza aplikacja w Rails by Iza
  </small>
  <nav>
    <ul>

      <li><%= link_to "Ryby",   '#' %></li>
      <li><%= link_to "Grzyby", '#' %></li>
      <li><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %></li>

    </ul>
  </nav>
</footer>
