<footer class="footer">
  <small>
    Pierwsza aplikacja w Rails by Iza
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ryby",   '#' %></li>
      <li><%= link_to "Grzyby", '#' %></li>
    </ul>
  </nav>
</footer>
