<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "pierwsza aplikacja", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Zarejestruj się", rejestracja_path %></li>
          <li><%= link_to "Strona",    'home/strona' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
