  <div class="bord">
  <ul class="nav nav-list">
        <li class="nav-header">Ciekawie o RoR</li>
        <li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Tutorial-book</a></li>
        <li><a href="http://guides.rubyonrails.org/getting_started.html">Getting-started</a></li>
        <li><a href="http://api.rubyonrails.org/">RubyOnRails-documentation</a></li>
        <li class="nav-header">Projektowanie stron</li>
        <li><a href="http://twitter.github.com/bootstrap/">Bootstrap-twitter</a></li>
        <li><a href="http://www.awwwards.com/50-examples-of-responsive-web-design.html">Responsive design examples</a></li>
        <li><a href="http://www.w3schools.com/css3/default.asp">CSS3 obszerny tutorial</a></li>
      </ul>
    </div>

